KEYCLOAK_AUTH_SERVER_URL=http://localhost:8080
JWK_SET_URI=http://localhost:8080/realms/kgolap/protocol/openid-connect/certs
KEYCLOAK_ID=nextjs-frontend
KEYCLOAK_SECRET="YOURSECRETHERE (From installation step 3)"
KEYCLOAK_ISSUER=http://localhost:8080/auth/realms/kgolap
KEYCLOAK_REFRESH_TOKEN_URL=http://localhost:8080/auth/realms/kgolap/protocol/openid-connect/token
END_SESSION_URL=http://localhost:8080/auth/realms/kgolap/protocol/openid-connect/logout
NEXTAUTH_SECRET="YOURSECRETHERE (Random String)"
NEXTAUTH_URL_INTERNAL=http://localhost:3000/
KGOLAP_SURFACE_URL=http://localhost:8080/kgolap
KGOLAP_USERNAME=YOURUSERHERE
KGOLAP_PASSWORD=YOURPASSWORDHERE
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@host.docker.internal:5432/kgolap?connect_timeout=100&schema=kgolap"
REDIS_PASSWORD=redisPa55w0rd
POSTGRES_USER=user
POSTGRES_PASSWORD=password
KEYCLOAK_USER=user
KEYCLOAK_PASSWORD=password
PGADMIN_DEFAULT_EMAIL=example@example.com
PGADMIN_DEFAULT_PASSWORD=password